
<!--==========================================
                 PAGE LOADER
===========================================-->
<div id="page-loader">
    <div class="animated bounceInDown">
        <div class="spinner"></div>
    </div>
    <div class="text-div text-center animated zoomIn">
        <p class="text-uppercase">WELCOME TO</p>
        <!-- Name Only -->
        <h6 class="text-uppercase">My thoughts are amazing</h6>
    </div>
</div>
<%= render 'postindexheader' %>
<!--==========================================
                 BLOG PAGE
===========================================-->
<div class="container blog-page">
    <div class="row">
        <!-- Blog Posts -->
        <div class="col col-md-8 col-sm-12 col-xs-12">

            <!-- Blog Post Wrapper -->
            <div class="blog-posts-wrapper">
        <%= render @posts %>
      </div>
<% if @page %>
  <%= render partial: "pagination" %>
<% end %>

</div>
<!-- ./Blog Posts -->
<!-- Sidebar -->
        <div class="col col-md-4 col-sm-12 col-xs-12">
            <div class="sidebar">
                <%= render "search" %>
                <%= render "categories" %>
                <%= render "recent" %>
                <%= render "popular" %>
                <%= render "about_blurb" %>
                <%= render "follow" %>
            </div>
        </div>
<!-- ./Sidebar -->
    </div>
</div>
