<%= render 'page_loader' %>
<%= render 'postindexheader' %>
<!--==========================================
                 BLOG PAGE
===========================================-->
<div class="container blog-page">
  <div class="row">
  <!-- Blog Posts -->
    <div class="col col-md-8 col-sm-12 col-xs-12">
      <!-- Blog Post Wrapper -->
      <div class="blog-posts-wrapper">
        <%= render @posts %>
      </div>
      <% if @page %>
        <%= render partial: "pagination" %>
      <% end %>
    </div>
  <!-- ./Blog Posts -->
  <%= render 'sidebar' %>
  </div>
</div>
