
<% content_for :title do %>
  <%= @post.title %>
<% end %>

<% content_for :meta_description do %>
  <%= truncate(strip_tags(@post.content), length: 155) %>
<% end %>
<%= render partial: 'monologue/posts/post_header', locals: {post: @post }%>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= raw @post.content %>
      <div class="tags" data-monologue="tags">
        <span><%= render @post.tags %> |</span>
      </div>
      </div>
    </div>



  <%= render "monologue/posts/social_sharing" %>

  <div id="disqus_thread"></div>
  <%= render 'layouts/monologue/application/disqus_embed' %>
  <noscript>Please enable JavaScript to view the comments.</noscript>
</article>
