<%= render 'postindexheader' %>
<% content_for :title do %>
  <%= @post.title %>
<% end %>

<!--==========================================
                 BLOG PAGE
===========================================-->
<div class="container blog-page">
  <div class="row">
  <!-- Single Posts -->
    <div class="col col-md-8 col-sm-12 col-xs-12">
      <!-- Blog Post Wrapper -->
      <div class="blog-posts-wrapper">
          <!-- Full post -->
              <!-- Blog image here -->
              <div class="blog-content">
                  <!-- Edit title and info here -->
                  <div class="blog-title post-title">
                      <h1 class="text-capitalize"><%= @post.title %></h1>
                      <ul>
                          <li><%= I18n.localize(@post.published_at.to_date, format: :long) %></li>
                      </ul>
                  </div>
                  <!-- some line of post -->
                  <%= raw @post.content %>
                  <div class="tags"><span><%= render @post.tags %> </span></div>
              <hr>
          </div>
        </div>
      </div>
    <%= render 'sidebar' %>
  </div>
  <div id="disqus_thread"></div>
  <%= render 'layouts/monologue/application/disqus_embed' %>
  <noscript>Please enable JavaScript to view the comments.</noscript>
</div>
                <!-- ./Full post -->
