<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="author" content="Adam D. Bell">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>Adam's Blog</title>
  <link rel="icon" href="images/fav-icon.png">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="//load.sumome.com/" data-sumo-site-id="81dc09a1beed897de0e139b45f0ab02e801c836ad7458df6891ba40808914f28" async="async"></script>
</head>
<body>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
